body {

    margin: 20px;
}

.bold {
    font-weight: bold;
}

.selectedPlayer {

    background-color: yellow;
}


.player {
    border-radius: 10px;
    padding: 5px;

}

.circle {

    border-radius: 7px;
    width: 15px;
    height: 15px;

}

.float {
    float: left;
}

.clear {
    clear: both;
}


.margin20px {
    margin: 20px;
}

#canvas {

    border: 1px solid #000000;

}
